.btnModifier {
  all: unset;
  cursor: pointer;
  height: 40px;
  padding: 0 16px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  background-color: #6985e6;

  &[data-color='red'] {
    background-color: #d87093;
  }

  b {
    text-transform: capitalize;
  }
}
