@keyframes fall {
  from {
    opacity: 0;
    bottom: 200px;
  }
  to {
    opacity: 1;
    bottom: 40px;
  }
}

@keyframes moving {
  0% {
    transform: rotateZ(-30deg);
  }
  35% {
    transform: rotateZ(30deg);
  }
  70% {
    transform: rotateZ(-30deg);
  }
}

.collectionRow {
  &:first-child {
    text-transform: capitalize;
    margin-bottom: 8px;
  }
  &:last-child {
    color: #aaaaaa;
  }
}

.imgWrapper {
  position: relative;
  display: inline-block;

  &::before {
    content: '';
    position: absolute;
    display: block;
    bottom: 10px;
    left: 0;
    height: 30%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
  }

  img {
    position: relative;
    display: block;
    transform-origin: 50% 80%;
    transition-property: transform;
    transition-duration: 250ms;
  }
}

.imgModifier img {
  transition-delay: 1000ms;
  transform: scale(0);
}

.catched {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
}

.throwedPokeball {
  position: absolute;
  left: calc(50% - 20px);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transform: rotateZ(-30deg);
  animation: fall 250ms 300ms ease-in forwards, moving 1000ms 1000ms infinite;
}

.dialog {
  border: 2px solid var(--accent);
  background-color: var(--background);
}

.dialogOverlay {
  background-color: #001e25d1;
}
