.dialogModifier {
  max-width: calc(100vw - 32px);
  width: 500px !important;
}

.overlayModifier {
  background-color: var(--overlayColor);
}

.container {
  position: relative;
}

.imgModifier {
  position: absolute;
  top: -170px;
  right: -32px;
  filter: drop-shadow(20px -10px 0px var(--accent));
}

.title {
  position: absolute;
  top: -32px;
  text-transform: capitalize;
}

.subTitle {
  text-transform: capitalize;
}

.inner {
  text-align: center;
  margin-top: 16px;
  padding: 16px 0;
  border-top: 1px solid var(--accent);

  > *:not(:last-child) {
    margin-bottom: 16px;
  }
}
