.chip {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  color: var(--foreground);
  border-radius: 8px;
  padding: 0 12px;
  text-transform: capitalize;
  border: 1px solid var(--accent);

  &[data-long] {
    width: 120px;
  }

  &[data-type] {
    border: none;
    color: white;
  }

  &[data-type='grass'] {
    background-color: #92bf19;
  }

  &[data-type='poison'] {
    background-color: #be78be;
  }

  &[data-type='ground'] {
    background-color: #cca142;
  }

  &[data-type='water'] {
    background-color: #0094e5;
  }

  &[data-type='ice'] {
    background-color: #00b7ee;
  }

  &[data-type='psychic'] {
    background-color: #dc78c8;
  }

  &[data-type='fire'] {
    background-color: #ff6900;
  }

  &[data-type='flying'] {
    color: black;
    background-color: #78dcff;
  }

  &[data-type='electric'] {
    color: black;
    background-color: #ffe100;
  }

  &[data-type='rock'] {
    background-color: #b48c64;
  }

  &[data-type='bug'] {
    background-color: #46c846;
  }

  &[data-type='fairy'] {
    background-color: #ff7eb8;
  }

  &[data-type='ghost'] {
    background-color: #8c78f0;
  }

  &[data-type='steel'] {
    background-color: #96b4dc;
  }

  &[data-type='fighting'] {
    background-color: #dc6900;
  }

  &[data-type='dark'] {
    background-color: #646464;
  }

  &[data-type='normal'] {
    color: black;
    background-color: #dcdcdc;
  }
}
