@keyframes throw {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-300px) scale(0.7);
  }
}

@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.pokeballWrap {
  position: fixed;
  z-index: 10;
  left: calc(50% - 40px);
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid var(--accent);
  background-color: var(--background);
  transition: transform 250ms;
  transform-origin: bottom;
  transform: scale(0);

  &[data-display] {
    transform: scale(1);
  }
}

.btnModifier {
  all: unset;
  cursor: pointer;
  width: 80%;
  height: 80%;
  animation: appear 250ms 1 forwards;

  &[data-throw] {
    pointer-events: none;
    animation: throw 300ms 1 forwards;
  }
}
