.collection {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 12px;
  gap: 12px;
  list-style: none;
}

.item {
  position: relative;
  padding: 12px;
  border-radius: 50px 10px 50px 10px;
  border: 2px solid var(--accent);
  background-color: var(--background);
}

@media (min-width: 1024px) {
  .collection {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (hover: hover) and (pointer: fine) {
  .item button {
    display: none;
  }

  .item:hover button {
    display: block;
  }
}
