.scrollTop {
  all: unset;
  box-sizing: border-box;
  position: fixed;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  bottom: 30px;
  right: 16px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  padding-bottom: 3px;
  border-radius: 16px;
  // border: 2px solid var(--accent);
  background-color: var(--accent);
  transform: translateY(100px);
  transition: transform 250ms;
  --radius: 10px;

  &::before,
  &::after {
    content: '';
    box-sizing: border-box;
    display: block;
    width: 14px;
    height: 24px;
    border-style: solid;
    border-width: 12px 7px;
    transform: translateY(100px);
    transition: transform 250ms 350ms var(--bounce);
  }

  &::before {
    border-color: transparent white white transparent;
    border-radius: 0 0 var(--radius);
  }
  &::after {
    border-color: transparent transparent white white;
    border-radius: 0 0 0 var(--radius);
  }

  &[data-display] {
    transform: translateY(0);

    &::before,
    &::after {
      transform: translateY(0);
    }
  }
}
